# Database
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Resend (Email Service)
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000